@font-face {
    font-family: Coolvetica;
    src: url('coolvetica rg.otf');
}

body {
    font-family: 'Coolvetica', Verdana, 'Panamera', 'Franklin Gothic', Helvetica, sans-serif; 
    background-color: rgb(253, 222, 222); /* light pink */
    /* padding: 50px; */
    cursor: url("https://i.imgur.com/mZ59Elw.png"), auto;
    color: #533032;
    margin: 0px;
}

h1 {
    text-align: center;
    font-family: 'Coolvetica', Verdana, Helvetica, sans-serif;
}

h2 {
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 0;
    padding-bottom: 0;
    font-family: 'Coolvetica', Verdana, Helvetica, sans-serif;
}

p {
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 0;
    padding-bottom: 0;
    font-family: 'Coolvetica', Verdana, Helvetica, sans-serif;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #533032;
    overflow: hidden;
    padding: 0px;
    left: 0;
    width: 100%;
    margin: 0;
}
  
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: rgb(253, 222, 222);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #714143;
    color: rgb(253, 222, 222);
}
  
/* Add a color to the active/current link */
.topnav a:active {
    background-color: rgb(199, 99, 99);
    color: white;
}

.image-container {
    background-image: url("https://i.pinimg.com/736x/0a/c9/31/0ac9311678b394e06426f3a647e1a925--ocean-sunset-linkedin-background.jpg"); /* The image used - important! */
    background-size: cover;
    position: relative; /* Needed to position the cutout text in the middle of the image */
    height: 200px; /* Some height */
    padding: 0px;
    width: 100%;
    left: 0;
    top: 0;
}
  
.text {
    background-color: rgb(253, 222, 222);
    color: rgb(2, 33, 33);
    font-size: 8vw; /* Responsive font size */
    font-weight: bold;
    font-family: "Franklin Gothic", "Helvetica";
    /*margin: 10px; /* Center the text container */
    padding: 10px;
    width: 50%;
    text-align: center; /* Center text */
    position: absolute; /* Position text */ 
    top: 50%; /* Position text in the middle */
    left: 50%; /* Position text in the middle */
    transform: translate(-50%, -50%); /* Position text in the middle */
    mix-blend-mode: screen; /* This makes the cutout text possible */
    border-radius: 15px;
}

#home {
    font-size: 10px;
    color: rgb(253, 222, 222);
}

.card {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    background-color: rgb(249, 235, 235);;
    border-color: white;
    border-top-width: 60px;
    border-bottom-width: 60px;
    border-radius: 12px;
}

.card1 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin-left: 75px;
    margin-right: 50px;
    text-align: center;
    background-color: rgb(249, 235, 235);;
    border-radius: 12px;
    padding: 0px;
}

.card2 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin-left: 0px;
    margin-right: 50px;
    text-align: center;
    background-color: rgb(249, 235, 235);;
    border-radius: 12px;
    padding: 0px;
}
  
.title {
    color: grey;
    font-size: 18px;
}
  
.testformat {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

link {
    color:blue;
    font: 10px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
    background-color: #533032;
    color: rgb(253, 222, 222);
    text-align: center;
    padding-bottom: 0px;
    padding-top: 0px;
}

#bigspace {
    font-size: 100px;
}

img {
    max-width: 100px;
    max-height: 100px;
    text-align: center;
}

.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

.cards {
    padding: 15px;
}