body {
    font-family: "Helvetica"; /* best font */
    background-color: rgb(253, 222, 222); /* light pink */
    padding: 50px;
}

h1 {
    text-align: center;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #e29296;
    overflow: hidden;
}
  
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: rgb(253, 222, 222);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ad686c;
    color: rgb(253, 222, 222);
}
  
/* Add a color to the active/current link */
.topnav a:active {
    background-color: rgb(199, 99, 99);
    color: white;
}