body {
    font-family: "Helvetica"; /* best font */
    background-color: rgb(253, 222, 222); /* light pink */
    padding: 50px;
    cursor: url("https://i.imgur.com/WXqc978.png"), auto;
    color: #533032;
}

h1 {
    text-align: center;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #e29296;
    overflow: hidden;
    padding: 0px;
    left: 0;
    width: 100%;
    margin: 0;
}
  
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: rgb(253, 222, 222);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ad686c;
    color: rgb(253, 222, 222);
}
  
/* Add a color to the active/current link */
.topnav a:active {
    background-color: rgb(199, 99, 99);
    color: white;
}

.image-container {
    background-image: url("https://i.pinimg.com/originals/b6/0f/2e/b60f2eda687c9d387bd1d99dbfc06613.jpg"); /* The image used - important! */
    background-size: cover;
    position: relative; /* Needed to position the cutout text in the middle of the image */
    height: 200px; /* Some height */
    padding: 0px;
    width: 100%;
    left: 0;
    top: 0;
}
  
.text {
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 8vw; /* Responsive font size */
    font-weight: bold;
    font-family: Helvetica;
    /*margin: 10px; /* Center the text container */
    padding: 10px;
    width: 65%;
    text-align: center; /* Center text */
    position: absolute; /* Position text */ 
    top: 50%; /* Position text in the middle */
    left: 50%; /* Position text in the middle */
    transform: translate(-50%, -50%); /* Position text in the middle */
    mix-blend-mode: screen; /* This makes the cutout text possible */
}

#home {
    font-size: 10px;
    color: rgb(253, 222, 222);
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    background-color: white;
    border-color: white;
    border-width: 60px;
}
  
.title {
    color: grey;
    font-size: 18px;
}
  
.testformat {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

link {
    color:blue;
    font: 10px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: rgb(255, 255, 255);
    color: #533032;
    text-align: center;
}

#bigspace {
    font-size: 100px;
}

img {
    width: 50%;
    text-align: center;
}